<div id="copyright">
    <p>
        <a href="https://github.com/isics/OpenMiamMiam">OpenMiamMiam</a> is an open source software developed by <a href="http://www.isics.fr">Isics</a>.
    </p>
    <p>
        Code licensed under the <a href="https://github.com/isics/OpenMiamMiam/blob/master/LICENSE">AGPL v3 license</a>.
    </p>
</div>