{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<p class="text-muted">
    <span class="glyphicon glyphicon-ban-circle"></span> <em>{{ message }}</em>
</p>