{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
        {{ message|trans }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {{ message|trans }}
    </div>
{% endfor %}