{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    {{ form(form) }}

    <a href="{{ path('open_miam_miam.admin.producer.list_products', {'id': producer.getId()}) }}">Return to list</a>

    {% set product = form.vars.data %}
    {% if product.getImage is not null %}
        <img src="{{ asset(get_image_product_path(product))|imagine_filter('admin') }}" alt="{{ product.getName }}" />
    {% endif %}
{% endblock %}
