{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% import '@IsicsOpenMiamMiam/Admin/dashboardMacro.html.twig' as dashboardMacro %}

{% block content %}
    <h1>{{ 'admin.producer.dashboard.title'|trans }}</h1>

    <div id="producer-dashboard">
        {% for row in tiles|batch(3) %}
            <div class="row">
                {% for tile in row %}
                    <div class="col-md-4">
                        {% if tile is not null %}
                            {{ dashboardMacro.tile(tile) }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Producer/General:statistics', {'producer': producer})) }}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(function(){
            new OpenMiamMiam.DashboardStatistics(
                    $('#producer-statistics-form'),
                    $('#producer-statistics-graph-container')
            );
        });
    </script>
{% endblock %}
