# This file is part of the OpenMiamMiam project.
#
# (c) Isics <contact@isics.fr>
#
# This source file is subject to the AGPL v3 license that is bundled
# with this source code in the file LICENSE.

parameters:
    open_miam_miam.cart_item_validator.class:                    'Isics\Bundle\OpenMiamMiamBundle\Validator\Constraints\CartItemValidator'
    open_miam_miam.buying_unit_validator.class:                  'Isics\Bundle\OpenMiamMiamBundle\Validator\Constraints\BuyingUnitValidator'
    open_miam_miam.product_validator.class:                      'Isics\Bundle\OpenMiamMiamBundle\Validator\Constraints\ProductValidator'
    open_miam_miam.branch_occurrence_attendance_validator.class: 'Isics\Bundle\OpenMiamMiamBundle\Validator\Constraints\ProducerBranchOccurrenceAttendanceValidator'
    open_miam_miam.sales_order_validator.class:                  'Isics\Bundle\OpenMiamMiamBundle\Validator\Constraints\SalesOrderValidator'
    open_miam_miam.payment_allocation_validator.class:           'Isics\Bundle\OpenMiamMiamBundle\Validator\Constraints\PaymentAllocationValidator'

    open_miam_miam.activity_manager.class:                'Isics\Bundle\OpenMiamMiamBundle\Manager\ActivityManager'
    open_miam_miam.branch_occurrence_manager.class:       'Isics\Bundle\OpenMiamMiamBundle\Manager\BranchOccurrenceManager'
    open_miam_miam.cart_manager.class:                    'Isics\Bundle\OpenMiamMiamBundle\Manager\CartManager'
    open_miam_miam.consumer_manager.class:                'Isics\Bundle\OpenMiamMiamBundle\Manager\ConsumerManager'
    open_miam_miam.admin_manager.class:                   'Isics\Bundle\OpenMiamMiamBundle\Manager\AdminManager'
    open_miam_miam.acl_manager.class:                     'Isics\Bundle\OpenMiamMiamBundle\Manager\AclManager'
    open_miam_miam.product_manager.class:                 'Isics\Bundle\OpenMiamMiamBundle\Manager\ProductManager'
    open_miam_miam.producer_manager.class:                'Isics\Bundle\OpenMiamMiamBundle\Manager\ProducerManager'
    open_miam_miam.producer_attendances_manager.class:    'Isics\Bundle\OpenMiamMiamBundle\Manager\ProducerAttendancesManager'
    open_miam_miam.sales_order_manager.class:             'Isics\Bundle\OpenMiamMiamBundle\Manager\SalesOrderManager'
    open_miam_miam.producer_sales_order_manager.class:    'Isics\Bundle\OpenMiamMiamBundle\Manager\ProducerSalesOrderManager'
    open_miam_miam.payment_manager.class:                 'Isics\Bundle\OpenMiamMiamBundle\Manager\PaymentManager'

    open_miam_miam.menu_builder.class: 'Isics\Bundle\OpenMiamMiamBundle\Menu\Builder'
    open_miam_miam.menu_voter.class:   'Isics\Bundle\OpenMiamMiamBundle\Menu\Voter'

    open_miam_miam.form.type.hidden_product.class:                        'Isics\Bundle\OpenMiamMiamBundle\Form\Type\HiddenProductType'
    open_miam_miam.form.type.product.class:                               'Isics\Bundle\OpenMiamMiamBundle\Form\Type\ProductType'
    open_miam_miam.form.type.producer.class:                              'Isics\Bundle\OpenMiamMiamBundle\Form\Type\ProducerType'
    open_miam_miam.form.type.producer_attendances.class:                  'Isics\Bundle\OpenMiamMiamBundle\Form\Type\ProducerAttendancesType'
    open_miam_miam.form.type.producer_branch_attendances.class:           'Isics\Bundle\OpenMiamMiamBundle\Form\Type\ProducerBranchAttendancesType'
    open_miam_miam.form.type.producer_branch_occurrence_attendance.class: 'Isics\Bundle\OpenMiamMiamBundle\Form\Type\ProducerBranchOccurrenceAttendanceType'
    open_miam_miam.form.type.sales_order.class:                           'Isics\Bundle\OpenMiamMiamBundle\Form\Type\SalesOrderType'
    open_miam_miam.form.type.sales_order_row.class:                       'Isics\Bundle\OpenMiamMiamBundle\Form\Type\SalesOrderRowType'
    open_miam_miam.form.type.producer_sales_order.class:                  'Isics\Bundle\OpenMiamMiamBundle\Form\Type\ProducerSalesOrderType'
    open_miam_miam.form.type.cart_item.class:                             'Isics\Bundle\OpenMiamMiamBundle\Form\Type\CartItemType'
    open_miam_miam.form.type.cart.class:                                  'Isics\Bundle\OpenMiamMiamBundle\Form\Type\CartType'
    open_miam_miam.form.type.add_rows_sales_order.class:                  'Isics\Bundle\OpenMiamMiamBundle\Form\Type\AddRowsToSalesOrderType'
    open_miam_miam.form.type.artificial_product.class:                    'Isics\Bundle\OpenMiamMiamBundle\Form\Type\ArtificialProductType'
    open_miam_miam.form.type.payment.class:                               'Isics\Bundle\OpenMiamMiamBundle\Form\Type\PaymentType'
    open_miam_miam.form.type.payment_allocation.class:                    'Isics\Bundle\OpenMiamMiamBundle\Form\Type\PaymentAllocationType'



services:
    # Validators
    open_miam_miam.sales_order_validator:
        class:     %open_miam_miam.sales_order_validator.class%
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: validator.constraint_validator, alias: open_miam_miam_sales_order_validator}

    open_miam_miam.cart_item_validator:
        class:     %open_miam_miam.cart_item_validator.class%
        arguments: [@open_miam_miam.branch_occurrence_manager]
        tags:
            - { name: validator.constraint_validator, alias: open_miam_miam_cart_item_validator}

    open_miam_miam.buying_unit_validator:
        class:     %open_miam_miam.buying_unit_validator.class%
        arguments: [%open_miam_miam.buying_units%]
        tags:
            - { name: validator.constraint_validator, alias: open_miam_miam.buying_unit_validator}

    open_miam_miam.product_validator:
        class:     %open_miam_miam.product_validator.class%
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: validator.constraint_validator, alias: open_miam_miam.product_validator}

    open_miam_miam.producer_branch_occurrence_attendance_validator:
        class:     %open_miam_miam.branch_occurrence_attendance_validator.class%
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: validator.constraint_validator, alias: open_miam_miam.producer_branch_occurrence_attendance_validator}

    open_miam_miam.payment_allocation_validator:
        class: %open_miam_miam.payment_allocation_validator.class%
        tags:
            - { name: validator.constraint_validator, alias: open_miam_miam_payment_allocation_validator }



    # Form types
    open_miam_miam.form.type.cart:
        class: %open_miam_miam.form.type.cart.class%
        tags:
            - { name: form.type, alias: open_miam_miam_cart }

    open_miam_miam.form.type.cart_item:
        class: %open_miam_miam.form.type.cart_item.class%
        tags:
            - { name: form.type, alias: open_miam_miam_cart_item }

    open_miam_miam.form.type.hidden_product:
        class:     %open_miam_miam.form.type.hidden_product.class%
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: form.type, alias: open_miam_miam_hidden_product }

    open_miam_miam.form.type.product:
        class:     %open_miam_miam.form.type.product.class%
        arguments: [%open_miam_miam.buying_units%]
        tags:
            - { name: form.type, alias: open_miam_miam_product }

    open_miam_miam.form.type.producer:
        class: %open_miam_miam.form.type.producer.class%
        tags:
            - { name: form.type, alias: open_miam_miam_producer }

    open_miam_miam.form.type.producer_attendances:
        class: %open_miam_miam.form.type.producer_attendances.class%
        tags:
            - { name: form.type, alias: open_miam_miam_producer_attendances }

    open_miam_miam.form.type.producer_branch_attendances:
        class: %open_miam_miam.form.type.producer_branch_attendances.class%
        tags:
            - { name: form.type, alias: open_miam_miam_producer_branch_attendances }

    open_miam_miam.form.type.producer_branch_occurrence_attendance:
        class: %open_miam_miam.form.type.producer_branch_occurrence_attendance.class%
        tags:
            - { name: form.type, alias: open_miam_miam_producer_branch_occurrence_attendance }

    open_miam_miam.form.type.sales_order:
        class: %open_miam_miam.form.type.sales_order.class%
        tags:
            - { name: form.type, alias: open_miam_miam_sales_order }

    open_miam_miam.form.type.sales_order_row:
        class: %open_miam_miam.form.type.sales_order_row.class%
        tags:
            - { name: form.type, alias: open_miam_miam_sales_order_row }

    open_miam_miam.form.type.producer_sales_order:
        class: %open_miam_miam.form.type.producer_sales_order.class%
        tags:
            - { name: form.type, alias: open_miam_miam_producer_sales_order }

    open_miam_miam.form.type.add_rows_sales_order:
        class: %open_miam_miam.form.type.add_rows_sales_order.class%
        tags:
            - { name: form.type, alias: open_miam_miam_sales_add_rows_order }

    open_miam_miam.form.type.artificial_product:
        class: %open_miam_miam.form.type.artificial_product.class%
        tags:
            - { name: form.type, alias: open_miam_miam_artificial_product }

    open_miam_miam.form.type.payment_allocation:
        class: %open_miam_miam.form.type.payment_allocation.class%
        tags:
            - { name: form.type, alias: open_miam_miam_payment_allocation }

    open_miam_miam.form.type.payment:
        class: %open_miam_miam.form.type.payment.class%
        tags:
            - { name: form.type, alias: open_miam_miam_payment }



    # Twig extensions
    open_miam_miam.twig.open_miam_miam_extension:
        class:     Isics\Bundle\OpenMiamMiamBundle\Twig\OpenMiamMiamExtension
        arguments:
            - %open_miam_miam.title%
            - %open_miam_miam.currency%
            - @open_miam_miam.product_manager
            - @open_miam_miam.producer_manager
            - @open_miam_miam.consumer_manager
        tags:
            - { name: twig.extension }



    # Menus
    open_miam_miam.menu_builder:
        class:     %open_miam_miam.menu_builder.class%
        arguments: [@knp_menu.factory, @translator, @open_miam_miam.admin_manager]

    open_miam_miam.menu.admin:
        class:           Knp\Menu\MenuItem
        factory_service: open_miam_miam.menu_builder
        factory_method:  createAdminMenu
        tags:
            - { name: knp_menu.menu, alias: admin }

    open_miam_miam.menu_voter:
        class: %open_miam_miam.menu_voter.class%
        tags:
            - { name: knp_menu.voter, request: true }



    # Managers
    open_miam_miam.activity_manager:
        class: %open_miam_miam.activity_manager.class%
        arguments: [@doctrine.orm.entity_manager]

    open_miam_miam.branch_occurrence_manager:
        class:     %open_miam_miam.branch_occurrence_manager.class%
        arguments: [@doctrine.orm.entity_manager]

    open_miam_miam.cart_manager:
        class:     %open_miam_miam.cart_manager.class%
        arguments: [@open_miam_miam.branch_occurrence_manager, @doctrine.orm.entity_manager, @session, @security.context]

    open_miam_miam.admin_manager:
        class: %open_miam_miam.admin_manager.class%
        arguments: [@security.context, @doctrine.orm.entity_manager]
        shared: true

    open_miam_miam.consumer_manager:
        class: %open_miam_miam.consumer_manager.class%
        arguments: [%open_miam_miam.consumer%, @doctrine.orm.entity_manager]

    open_miam_miam.product_manager:
        class: %open_miam_miam.product_manager.class%
        arguments: [%open_miam_miam.product%, @doctrine.orm.entity_manager, @kernel, @open_miam_miam.activity_manager]

    open_miam_miam.producer_manager:
        class: %open_miam_miam.producer_manager.class%
        arguments: [%open_miam_miam.producer%, @doctrine.orm.entity_manager, @kernel]

    open_miam_miam.acl_manager:
        class:     %open_miam_miam.acl_manager.class%
        arguments: [@service_container]
        tags:
            - { name: doctrine.event_listener, event: postPersist }
            - { name: doctrine.event_listener, event: preRemove }

    open_miam_miam.producer_attendances_manager:
        class: %open_miam_miam.producer_attendances_manager.class%
        arguments: [%open_miam_miam.producer%, @doctrine.orm.entity_manager]

    open_miam_miam.sales_order_manager:
        class: %open_miam_miam.sales_order_manager.class%
        arguments: [%open_miam_miam.order%, @doctrine.orm.entity_manager, @open_miam_miam.activity_manager]

    open_miam_miam.producer_sales_order_manager:
        class: %open_miam_miam.producer_sales_order_manager.class%
        arguments: [@doctrine.orm.entity_manager]

    open_miam_miam.payment_manager:
        class: %open_miam_miam.payment_manager.class%
        arguments: [@doctrine.orm.entity_manager, @open_miam_miam.activity_manager]
