security:
    acl:
        connection: default

    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
           pattern: ^/
           form_login:
               provider: fos_userbundle
               csrf_provider: form.csrf_provider
           logout:    true
           anonymous: true

    access_control:
        - { path: ^/admin/, role: ROLE_USER }
        - { path: ^(?!/admin/).*/?order/, role: ROLE_USER }
