security:
    acl:
        connection: default

    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        admin:
            pattern: ^/admin
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
                check_path: /admin/login_check
                login_path: /admin/login
            logout:
                path:        /admin/logout
                target:      /admin
            anonymous: true
            switch_user: { role: ROLE_ADMIN }
            remember_me:
                key: %secret%

        front:
           pattern: ^/
           form_login:
               provider: fos_userbundle
               csrf_provider: form.csrf_provider
           logout:    true
           anonymous: true
           remember_me:
               key: %secret%

    access_control:
        - { path: ^/admin/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: /admin/super/managers, role: ROLE_SUPER_ADMIN }
        - { path: ^/admin/super/, role: ROLE_ADMIN }
        - { path: ^/admin/, role: ROLE_USER }
        - { path: ^(?!/admin/).*/?order/, role: ROLE_USER }
