{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    {% set branch = form.vars.data %}
    <h1>{{ 'admin.association.branch.form.edit_title'|trans({'%name%': branch.name}) }}</h1>

    {% include 'IsicsOpenMiamMiamBundle:Admin:Association\\Branch\\form.html.twig' with {'form': form} %}
    {% include 'IsicsOpenMiamMiamBundle:Admin:Association\\Branch\\deleteDialog.html.twig' %}

    {% include 'IsicsOpenMiamMiamBundle:Admin:activityStream.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            new OpenMiamMiam.DeleteDialog;
        });
    </script>
    {{ tinymce_init() }}
{% endblock %}
