{% if consumer is not null%}
    {% if consumer.locked %}
        <div class="alert alert-danger text-center">
            <span class="glyphicon glyphicon-ban-circle"></span>
            {{ 'admin.association.consumer.deleted'|trans }}
        </div>
    {% endif %}
{% endif %}