Isics\Bundle\OpenMiamMiamBundle\Model\Producer\ProducerWithOwner:
    properties:
        producer:
            - Valid: ~
        owner:
            - NotNull:
                message: error.notfound
            - Valid: ~

Isics\Bundle\OpenMiamMiamBundle\Entity\Producer:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: name
    properties:
        name:
            - NotNull: ~
            - Length:
                max: 128
        address1:
            - Length:
                max: 64
        address2:
            - Length:
                max: 64
        zipcode:
            - Length:
                max: 8
        city:
            - Length:
                max:  64
        phoneNumber1:
            - Length:
                max: 16
        phoneNumber2:
            - Length:
                max: 16
        website:
            - Url: ~
        facebook:
            - Url: ~
        profileImageFile:
            - Image:
                maxSize: 5120k
        deleteProfileImage:
            - Type: bool
        presentationImageFile:
            - Image:
                maxSize: 5120k
        deletePresentationImage:
            - Type: bool
        specialty:
            - Length:
                max: 32
