{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<nav>
    <ul id="footer-nav" class="list-inline">
        <li><span class="glyphicon glyphicon-lock"></span> <a href="{{ path('open_miam_miam.admin') }}">{{ 'zone.footer.admin_link'|trans }}</a></li>
    </ul>
</nav>