{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch, 'homepage': false} %}
    {% block content %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-branch-producers-attendance">
                <thead>
                    <tr>
                        <th>Producers</th>
                        {% for occurrence in branchOccurrences %}
                            <th class="text-center">{{ occurrence.begin|date("d/m") }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for producer in producers %}
                        <tr>
                            <td>{{ producer.name }}</td>
                            {% for occurrence in branchOccurrences %}
                                <td class="text-center">
                                    {% for attendance in occurrence.producerAttendances %}
                                        {% if (attendance.producer == producer) and (attendance.isAttendee) %}
                                            <span class="glyphicon glyphicon-check"></span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endembed %}
