{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-time"></span> {{ 'zone.next_occurences.title'|trans }}</h2>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
        {% for branchOccurrence in branchOccurrences %}
            <li>{{ branchOccurrence.begin|format_datetime('eee dd MMM HH:mm') }} - {{ branchOccurrence.end|format_time('HH:mm') }}</li>
        {% endfor %}
        </ul>
    </div>
</div>