{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<div id="next-occurences" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-time"></span> {{ 'zone.next_occurrences.title'|trans }}</h2>
    </div>
    <ul class="list-group">
    {% for branchOccurrence in branchOccurrences %}
        <li class="list-group-item">{{ branchOccurrence.begin|format_datetime('eee dd MMM HH:mm') }} - {{ branchOccurrence.end|format_time('HH:mm') }}</li>
    {% endfor %}
    </ul>
</div>
