{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch, 'homepage': true} %}
    {% block content %}
        <div class="row">
            <div class="col-md-8">
                <div id="welcome" class="well">
                    {{ branch.presentation|raw }}
                </div>
            </div>
            <div class="col-md-4">
                {{ render(controller('IsicsOpenMiamMiamBundle:Branch:ShowLatestArticles', {'branch': branch})) }}
            </div>
        </div>

        {{ render(controller('IsicsOpenMiamMiamBundle:Catalog:ShowProductsOfTheMoment', {'branch': branch})) }}
    {% endblock %}

    {% block javascript %}
        {{ parent() }}
        <script type="text/javascript">
            $(function() {
                new OpenMiamMiam.Quantity;
                new OpenMiamMiam.CartAddForm;
            });
        </script>
    {% endblock %}
{% endembed %}