{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch, 'homepage': true} %}
    {% block title %}{{ 'branch.presentation.title'|trans({'%association_name%': branch.association.name, '%branch_name%': branch.name}, 'seo') }}{% endblock %}
    {% block meta_description %}{{ 'branch.presentation.meta_description'|trans({'%branch_presentation%': branch.presentation|striptags|truncate(250)}, 'seo') }}{% endblock %}

    {% block content %}
        <h1>{{ branch.nameWithAssociation }}</h1>

        {{ branch.presentation|raw }}
    {% endblock %}
{% endembed %}
