{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle::base.html.twig' %}

{% block title %}{{ 'profile.title'|trans({}, 'seo') }}{% endblock %}

{% block header %}
    <header>
        <div id="header-logo">
            <a href="{{ path('open_miam_miam.homepage') }}">{% include 'IsicsOpenMiamMiamBundle::baseLogo.html.twig' %}</a>
        </div>
    </header>
{% endblock %}

{% block footer %}
    <footer>
        <hr />
        <div class="container">
            {% include 'IsicsOpenMiamMiamBundle:Branch:footerNav.html.twig' %}
            {% include 'IsicsOpenMiamMiamBundle::copyright.html.twig' %}
        </div>
    </footer>
{% endblock %}
