{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:base.html.twig' %}

{% block global_content %}
    <div class="row">
        <div class="col-md-3" role="navigation">
            {{ knp_menu_render('admin', {'template': 'IsicsOpenMiamMiamBundle:Admin:menu.html.twig'}) }}
        </div>
        <div class="col-md-9" role="main">
            {% include 'IsicsOpenMiamMiamBundle::messages.html.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            new OpenMiamMiam.UrlSwitcherSelect();
        });
    </script>
{% endblock %}