{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>{% trans %}admin.index.title{% endtrans %}</h1>

            {{ knp_menu_render('IsicsOpenMiamMiamBundle:Builder:adminMenu', {'template': 'IsicsOpenMiamMiamBundle:Admin:menu_index.html.twig'}) }}
        </div>
    </div>
{% endblock %}