{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends "IsicsOpenMiamMiamBundle::minimal.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock content %}
