{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends "IsicsOpenMiamMiamBundle::minimal.html.twig" %}

{% block title %}{{ 'reset_password.title'|trans({}, 'seo') }}{% endblock %}
{% block meta_description %}{{ 'reset_password.meta_description'|trans({}, 'seo') }}{% endblock %}

{% block content %}
    <h1>{% trans %}user.resetting.request.title{% endtrans %}</h1>

    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock content %}
