{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
