{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends "IsicsOpenMiamMiamBundle::minimal.html.twig" %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('fos_user_profile_edit') }}">{{ 'user.edit.title'|trans }}</a></li>
        <li><a href="{{ path('fos_user_profile_orders') }}">{{ 'user.orders.title'|trans }}</a></li>
    </ul>

    <h1>{% trans %}user.change_password.title{% endtrans %}</h1>
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock content %}
