{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends "IsicsOpenMiamMiamBundle::minimal.html.twig" %}

{% block title %}{{ 'change_password.title'|trans({}, 'seo') }}{% endblock %}

{% block content %}
    <h1>{% trans %}user.change_password.title{% endtrans %}</h1>
    {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock content %}
