@import "variables.less";
@import "../../../../../../../web/bootstrap/less/mixins.less";

//
// Global
//
h1 {
    margin: 0 0 2*@line-height-computed 0 !important;
}

.panel-group {
    margin-bottom: @line-height-computed;
}

.checkbox label {
    font-weight: bold;
}

.disabled {
    background-color: @gray-lighter;
}

.list-errors {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    color: @alert-danger-text;
}

//
// Producer / Products
//
.table-products th:nth-child(n+3),
.table-products td:nth-child(3),
.table-products td:nth-child(4),
.table-products td:nth-child(n+6) {
    text-align: center;
}

.table-products td {
    vertical-align: middle !important;
}

.table-products td:nth-child(5) {
    font-weight: bold;
    text-align: right;
}

.table-products .label {
    display: block;
}

//
// Producer / Product form
//
#open_miam_miam_admin_product_stock,
#open_miam_miam_admin_product_availableAt_day,
#open_miam_miam_admin_product_availableAt_month,
#open_miam_miam_admin_product_availableAt_year {
    display: inline;
    width: 10%;
}

//
// Producer / Calendar
//
.table-calendar th:nth-child(n+2),
.table-calendar td:nth-child(n+2) {
    text-align: center;
}

.table-calendar td:nth-child(4) label {
    font-weight: bold;
}