@import "variables.less";
@import "../../../../../../../web/bootstrap/less/mixins.less";

//
// Common
//
.td-no-price {
    text-align: center !important;
}

<<<<<<< HEAD
.mapBranch{
	height: 200px !important;
=======
.label-order-closed {
    .label-variant(@label-danger-bg);
    font-size: @font-size-base;
}

.ui-effects-transfer {
    border: 2px dotted black;
>>>>>>> master
}

//
// Header
//
header {
    clear: right;
    .make-row();
    margin-top: @line-height-computed;
}

#header-logo {
    .make-md-column(3);
    text-align: center;
}

#header-main {
    .make-md-column(9);

    .panel-body {
        padding: 0 15px !important;
    }
}

#header-main-body {
    .make-row();
}

#header-branch-name,
#header-branch-occurrence,
#header-cart {
    .make-md-column(4);
    padding: 5px 15px;

    h1,
    > strong {
        display: block;
        margin: 0;
        font-size: @font-size-large;
        font-weight: bold;
        line-height: @line-height-base;

        &.loading,
        &.loading a {
            color: @gray-light;
        }
    }
}

#header-branch-occurrence {
    border-right: 1px solid @panel-default-border;
    border-left: 1px solid @panel-default-border;
}

#header-branch-change-link {
    display: block;
    font-size: @font-size-small;
}

#header-branch-occurrence-order-from {
    margin-bottom: @line-height-computed;
    color: @brand-danger;
    font-size: @font-size-large;
    font-weight: bold;
}

#header-branch-occurrence-order-before {
    color: @brand-danger;
    font-size: @font-size-small;
}


//
// Breadcrumb
//
.breadcrumb {
    margin-bottom: 0;
}

//
// Quantity
//
.input-quantity {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    width: 40px;
    text-align: right;
}

.input-quantity-with-buttons {
    border-right: none;
    .border-right-radius(0);
}

.quantity-buttons {
    display: inline-block;
    margin: 0;
    border: 1px solid @btn-primary-border;
    .border-right-radius(@border-radius-base);
    vertical-align: middle;
}

.quantity-button {
    background: @btn-primary-bg;
    color: @btn-primary-color;
    cursor: pointer;
    text-align: center;
    width: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        background-color: darken(@btn-primary-bg, 8%);
    }
}

//
// Categories accordion
//
#categories-accordion {
    margin-bottom: @line-height-computed;

    .panel {
        border: 0;
    }

    .panel-heading {
        border-style: solid;
        border-width: 1px;
    }

    .panel-title {
        font-size: ceil(@font-size-base * 1.70);
    }

    table {
        margin-bottom: 0;
    }
}

//
// Products table (category)
//
.table-products {
    th:nth-child(1),
    th:nth-child(n+5) {
        text-align: center;
    }

    td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        vertical-align: middle !important;
    }

    td:nth-child(1) {
        padding: 0;
    }

    td:nth-child(2) {
        width: 100%;
    }

    td:nth-child(2) a {
        display: block;
    }

    td:nth-child(3) {
        font-size: floor(@font-size-base * 2.60); // ~36px
        text-align: center;
    }

    td:nth-child(4),
    td:nth-child(7) {
        white-space: nowrap;
    }

    td:nth-child(5) {
        font-weight: bold;
        text-align: right;
    }

    .label {
        display: block;
    }

    td:nth-child(1),
    td:nth-child(6),
    td:nth-child(7) {
        text-align: center;
    }
}

//
// Cart / Products table
//
.table-cart-products {
    th:nth-child(n+3) {
        text-align: center;
    }

    td:nth-child(1) {
        width: 100%;
    }

    td {
        vertical-align: middle !important;
    }

    td:nth-child(3) {
        text-align: right;
        white-space: nowrap;
    }

    td:nth-child(even) {
        font-weight: bold;
        text-align: right;
    }
}